@import "../../../const";

.input-row {
  width: 100%;
}

.input-row label{
  white-space: nowrap;
  overflow: visible;
}

.input-row div:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-row-count {
  text-align: left;
  color: $light2;
  left: 0-$dim3;
}

.input-row-input {
  padding: 0;
}
