@import "../../../const";

.input-row {
  width: 100%;
}

.input-row label{
  white-space: nowrap;
  overflow: visible;
}

.input-row-count{
  color: $light2;
  padding: 0;
}

.input-row-input{
  padding: 0;
}
