@import "../../../const";

.input-row {
  width: 100%;
}

.input-row .row{
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.input-row label{
  white-space: nowrap;
  overflow: visible;
}

.input-row div:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-row-label.no-count{
  flex: 7;
}

.input-row-label.count{
  flex: 4;
}

.input-row-count {
  flex: 1;
  color: $light2;
}

.input-row-input {
  padding: 0;
}

.input-row-input.no-count {
  flex: 1;
}

.input-row-input.count {
  flex: 1;
}
