@import "../../common/const.scss";

.platforms-grid .label-name {
  flex: 1 0 auto !important;
}

.platforms-grid .data-name {
  flex: 1 0 auto !important;
}

.platform-selectors{
  background: $dark1;
}

.platform-selectors h4{
  margin: $dim3;
}

.platform-selectors .row{
  margin: 0;
}

.platform-selectors .selectors-label{
  margin-top: $dim2;
}