@import "../../const.scss";

.taxon-selector .input-row label {
  text-transform:capitalize;
}

.taxa-expandable-panel .label{
  text-align: center;
  padding-right: $dim3;

  background: $dark0;
  border-radius: $dim3;
}

.taxa-expandable-panel .input-row:first-child{
  margin-top: $dim2;
}