@import "../../const.scss";

.spinner button#left {
  border-bottom-left-radius: $dim3;
  border-top-left-radius: $dim3;
}

.spinner button#right {
  border-bottom-right-radius: $dim3;
  border-top-right-radius: $dim3;
}

.spinner input{
  text-align: center;
  min-width: 40px;
  max-width: 40px;
}