@import "common/const.scss";

html, body {
  height: 100%;
  margin: 0;

}

body {
  display: flex;
  flex-flow: column;
}

main {
  color: $dark1;
  margin: $dim4;
  font-family: 'Montserrat', sans-serif;
}

main h1, main h2, main h3, main h4 {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
