@import "common/const.scss";

html, body {
  height: 100%;
  margin: 0;

}

body {
  display: flex;
  flex-flow: column;
  background-color: $dark0 !important;
  font-family: 'Montserrat', sans-serif !important;
}

main {
  color: $light1;
  margin: $dim4;
}

@media (max-width: 767px) {
  main {
    margin: $dim3 $dim0 $dim0;
  }
}

main h1, main h2, main h3, main h4 {
  font-weight: 700;
  font-family: 'Roboto', sans-serif !important;
}
