$xs-max: 767px;
$sm-min: $xs-max + 1px;
$sm-max: 991px;
$md-min: $sm-max + 1px;
$md-max: 1199px;
$lg-min: $md-max + 1px;
$lg-max: 1599px;
$xl-min: $lg-max + 1px;

$dark0: #737373;
$dark1: #434343;
$dark2: #2b2b2b;
$dark3: black;

$light0: white;
$light1: #f5f5f5;
$light2: #9b9b9b;

$blue1: #0063ab;
$blue2: #009ef9;
$yellowGreen: #bed740;
$grayRed: #ec501b;

$warning: #ffda4a;
$warning-border: #8a6d3b;

$code: #333;

$dim0: 2px;
$dim1: 5px;
$dim2: 10px;
$dim3: 20px;
$dim4: 50px;
$dim5: 70px;