@import "../../common/const.scss";

.datasets-grid .label-name {
  flex: 1 0 auto !important;
}

.datasets-grid .data-name {
  flex: 1 0 auto !important;
}

.dataset-selectors{
  background: $dark1;
}

.dataset-selectors .row{
  margin: 0;
}

.dataset-selectors .selectors-label{
  margin-top: $dim2;
}
