@import "../../common/const.scss";

.datasets-grid .label-name {
  flex: 1 0 auto !important;
}

.datasets-grid .data-name {
  flex: 1 0 auto !important;
}

.dataset-selectors{
  background: $dark1;
  padding: $dim2 $dim2 $dim1 $dim2+$dim1;
}

